{
  "cache": false,
  "check-coverage": false,
  "extension": [
    ".ts"
  ],
  "include": [
    "src/**/*.ts"
  ],
  "exclude": [
    "**/index.ts"
  ],
  "sourceMap": true,
  "reporter": [
    "lcov",
    "text-summary"
  ],
  "all": true,
  "instrument": true
}
